@using Microsoft.AspNetCore.Identity
@using BRSS66.ApplicationCore.Entities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-item btn-outline-secondary" asp-area="" asp-controller="Student" asp-action="Index">List Student</a>
        </li>
        <li>
            <a class="nav-item btn-outline-secondary" asp-area="" asp-controller="Course" asp-action="Index">List Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>